.settings-component {
  padding-bottom: 20px;
}
header {
  padding-bottom: 10px;
}
label {
  font-weight: normal;
}
.btn-default {
  display: inline;
}
.input-group {
  width: 400px;
}
.settings-component-content {
  padding-left: 15px;
}
