.container {
  padding-bottom: 15px;
}
.settings-component {
  padding-bottom: 20px;
}
header {
  padding-bottom: 10px;
}
label {
  font-weight: normal;
}
.form-control {
  width: 450px;
}
.btn-default {
  display: inline;
}
.settings-component-content {
  padding-left: 15px;
}
.glyphicon-remove {
  font-size: smaller;
}
