.icon-addon {
  position: relative;
  color: gray;
  display: block;
}
.form-control {
  width: 100%;
  top: 0px;
  margin: 0px;
  font-size: 20px;
  padding: 10px;
  height: 45px;
  color: black;
}
.icon-addon .glyphicon {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px
}
.icon-addon.addon-lg .glyphicon {
  position: absolute;
  font-size: 18px;
  margin-left: 0;
  left: calc(100% - 30px);
  top: 4px;
}
.glyphicon-question-sign:hover {
  color: black;
}
.container {
  width: 350px;
  padding: 0px;
}
.options-container {
  background: white;
  text-align: center;
  position:fixed;
  width:100%; /* (100% cause of fixed) */
  bottom:0;
  height:20px; /* see #page bottom value */
}
.options-anchor {
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  color: black;
}
.options-anchor:hover {
  color: black;
}
hr {
  margin: 0px;
  margin: 0px;
  border-color: #ccc;
}
.alert-warning {
  padding: 10px;
  margin: 0px;
}
.alert-info {
  padding: 10px;
  margin: 0px;
}
.alert-danger {
  padding: 0px;
  margin: 0px;
  text-align: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.form-group {
  margin:0px;
}
.form-control::-webkit-input-placeholder {
   font-style: italic;
}
.glyphicon-question-sign {
  padding-top: 5px;
  color: gray;
  cursor: pointer;
}
.glyphicon-remove {
  cursor: pointer;
}
.form-group:hover i {
  color: black;
}
#keyword-list {
  padding-bottom: 20px;
}
.keyword-list-item {
  height: 45px;
  padding: 10px;
  font-weight: normal;
  border-radius: 4px;
}
.keyword-list-item:hover {
  background-color: rgb(234, 234, 234)
}
.keyword-label {
  font-size: 20px;
  width: 100%;
  height: 35px;
  font-weight: inherit;
  margin: 0px;
  color: black;
}
.close-button:hover {
  color: red;
  text-decoration: none;
}
table, th, td, thead, tbody {
  border: 0px;
}
.table {
  margin: 0px;
}
